@model SelcukETicaret.Models.i.IndexModel
@{
    ViewBag.Title = "Index";
}

<div class="row">
    @foreach (var item in Model.Products)
    {
        @Html.Partial("ProductItem", item);
    }
</div>


