@model SelcukETicaret.Models.Message.MessageRepliesModel

@{
    ViewBag.Title = "Mesaj Cevapları";
    var currentUser = (SelcukETicaret.DB.Members)Session["LogonUser"];
}

<div class="row">
    <div class="col-md-12">
        <h3>Konu :@Model.MReplies.FirstOrDefault().Messages.Subject</h3>
        <hr />
    </div>
</div>


<div class="row">
    @foreach (var msj in Model.MReplies)
    {
        if (msj.Member_Id == currentUser.Id)
        {

            <div class="col-md-9 col-md-push-1 col-md-offset-1 well well-empty">

                <div class="form-group">
                    <label class="col-md-2 text-danger">Tarih : </label>
                    <label class="col-md-10 text-info">10.02.2017</label>
                </div>

                <div class="form-group">
                    <label class="col-md-2 text-danger">Kimden : </label>
                    <label class="col-md-10 text-warning">Yönetim</label>
                </div>

                <div class="form-group">
                    <label class="col-md-2 text-danger">Mesaj : </label>
                    <label class="col-md-10">
                        Ut fusce varius nisl ac ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat.
                    </label>
                </div>

            </div>
        }
        else
        {
            <div class="col-md-10 col-md-offset-1 well">

                <div class="form-group">
                    <label class="col-md-2 text-danger">Tarih : </label>
                    <label class="col-md-10 text-info">10.02.2017</label>
                </div>

                <div class="form-group">
                    <label class="col-md-2 text-danger">Kimden : </label>
                    <label class="col-md-10 text-warning">abdulvahapselcuk</label>
                </div>

                <div class="form-group">
                    <label class="col-md-2 text-danger">Mesaj : </label>
                    <label class="col-md-10">
                        Ut fusce varius nisl ac ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat.
                    </label>
                </div>

            </div>
        }

    }


</div>

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-12">

            <div class="form-group">
                <h4>Mesaj Cevabı</h4>
                <hr />
            </div>
            @Html.Hidden("MessageId", Model.MReplies.FirstOrDefault().Messages.Id)
            <div class="form-group">
                @Html.TextArea("Text", new { placeholder = "Mesaj Metni", @class = "form-control" })
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-success">
                    <span class="glyphicon glyphicon-send"></span> Cevapla
                </button>
            </div>
        </div>


    </div>

}


